.contact-page{
    margin-left: 5%;

    .contact-form {
        width: 100%;
        margin-top: 5%;

        ul {
            padding: 0;
            margin: 0;

            li {
                padding: 0;
                margin: 0;
                list-style: none;
                margin-bottom: 2.5%;
                overflow: hidden;
                display: block;
                position: relative;
                opacity: 0;
                animation: fadeInUp 2s 2s;
                animation-fill-mode: forwards;
                clear: both;
            }

            li.half{
                width: 49%;
                margin-left: 2%;
                float: left;
                clear: none;

                &:first-child {
                    margin-left: 0;
                }
            }
        }

        input[type='text'],
        input[type='email'] {
            width: 100%;
            border: 0;
            background: #115173;
            height: 7vh;
            font-size: 1.4vw;
            color: #fff;
            padding: 0 5%;
            box-sizing: border-box;
        }

        textarea{
            width: 100%;
            border: 0;
            background: #115173;
            height: 18vh;
            font-size: 1.3vw;
            color: #fff;
            padding: 5%;
            box-sizing: border-box;
        }

        .flat-button {
            color: #ffd700;
            background: 0 0;
            font: 15px;
            letter-spacing: 3px;
            text-decoration: none;
            padding: 2.3% 2.4%;
            border: 1px solid #ffd700;
            float: right;
            border-radius: 4px;
            transition: all 0.5s;

            &:hover{
                background: #e4c303e1;
                color: #115173;
                cursor: pointer;
                padding: 2.3% 2.6%;
            }

        }

    }
}

@media screen and (max-width: 390px) {

    .contact-page{
        margin-top: 35%;

        .contact-form {
            width: 100%;
            margin-top: 20px;
        
            ul {        
        
                li {
                    margin-bottom: 10px;            
                }
        
                li.half{
                    width: 49%;
                    margin-left: 2%;            
                }
            }
        
            input[type='text'],
            input[type='email'] {
                width: 100%;
                height: 50px;
                font-size: 16px;        
                padding: 0 20px;        
            }
        
            textarea{
                width: 100%;        
                height: 50px;
                font-size: 16px;        
                padding: 20px;
                min-height: 150px;        
            }
        
            .flat-button {
                font: 15px;
                letter-spacing: 3px;
                padding: 8px 10px;
        
                &:hover{            
                    padding: 8px 12px;
                }
        
            }
        
        }

    }
    
}

@media screen and (max-width: 320px) {

    .contact-page{
        margin-left: -4%;
    
        ul li.half{
            width: 100% !important;                            
            float: none !important;
        }            
    }

}